/* Caracterização de elementos gráficos de acordo com a classe ou tipo */

body {
  background-color: #f5f5f5;
}

p{
text-align: justify;
}

.aux_p{

  line-height: 2rem !important;
  text-indent: 4%;

}

.card-title{

margin-bottom: 3vh !important;

}

.card{

  box-shadow: 0 0 0.3rem 0 #546e7a95 !important;

}

input[type="number"].valid:not(.browser-default) {
  border-bottom: 1px solid #9e9e9e;
  box-shadow: 0 1px 0 0 #9e9e9e;
}

.responsive-img {
  width: 15vh;
}

.btn-small.waves-effect.grey-text.grey.lighten-4 {
  padding: 0 0 0 0 !important;
}

.btn-small {
  padding: 2% 5% 2% 5%;
  border-radius: 2px;
  margin-top: 2px;
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.4;
}

.tiny {
  margin-left: 8px;
  line-height: 20px;
}

.row-informativos {
  margin-bottom: 2%;
  font-size: 10px;
  vertical-align: middle;
}

.material-icons {
  font-size: 22px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.rb_form {
  margin-left: 2%;
  line-height: 0.95em;
}

.range_container {
  margin-left: 2%;
  margin-right: 1%;
}

label {
  text-align: justify;
  color: #757575;
}

.aux_label{
  color: #757575 !important;
}

#range_element {
  margin-bottom: 2%;
}

input[type="range"] {
  border: none;
}

#div_switch {
  text-align: right;
}

#label_composicao {
  line-height: 22.5px;
}

#tabela_composicoes, #tabela_composicoes2 {
  margin-top: 3%;
  font-size: 15px;
}

thead th {
  font-weight: bold;
  background-color: #eeeeee;
}

th, td {
  border-bottom: 1px solid #b0bec5;
  border-right: 1px dotted #b0bec5;
  text-align: center;
  vertical-align: center;
  font-weight: normal;
}

canvas {
  min-height: 200px;
}
