/* Caracterização de elementos gráficos de acordo com a classe ou tipo */
.row {
  width: 100%;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
 .horizontal_line{
   display: inline-flex;
 }

 .rb_form{
   margin-left: 2%;
   line-height  : 0.95em;
 }


 .range_container{
   margin-left: 2%;
   margin-right: 1%;
   margin-top: 5%;
 }

 input[type="range"] {
    border: none;
}
